<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="idk im just some dev">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <title>Projects</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
    </head>
    <body>
        {% import 'macros.html' as macros %}

        {{ macros.menu() }}

        <br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="card">
                <p>Projects</p>
                <a href={{ url_for('projects_zote') }}>Zote Discord Bot</a>
            </div>
        </div>
    </body>
</html>